
name : ETL Pipeline Demo

on:
  push:
    branches:
    - main

jobs:
  extract-data:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: run extract.py
        run: python extract.py

  transform-data-job:
    transform-data:
      runs-on: ubuntu-latest

      steps:
        - name: checkout code
          uses: actions/checkout@v2
        
        - name: run load.py
          run: python load.py

